* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #918be5;
    height: 100vh;
}

h1{
    font-family: 'Alegreya', serif;
    color: #f5f5f5;
    text-align: center;
<<<<<<< HEAD
    padding-top: 40px;
}

.container{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #ffffff;
}

.button-container{
    width: 90%;
    max-width: 50em;
    padding: 5em 2em;
=======
    margin-top: 40px;
}
.container{
    background-color: #ffffff;
    width: 90%;
    max-width: 50em;
    padding: 5em 2em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
>>>>>>> 7bf0458 (add command npm start / http-server)
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em 2em;
}
.code-container{
<<<<<<< HEAD
    height: 100%;
}


.button-container button{
=======
    background-color: #ffffff;
    padding: 2em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
    display: grid;
}

.container button{
>>>>>>> 7bf0458 (add command npm start / http-server)
    font-size: 1.2em;
    background-color: #918be5;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 0.8em;
    text-transform: capitalize;
    border-radius: 0.3em;
    cursor: pointer;
}

<<<<<<< HEAD
button.reset{
    background-color: #7e9cff;
}
=======
/* .heart{
    cursor: url("../img/heart.svg ") 50 10, auto;
} */

/* .circle{
    cursor: url("../img/circle.svg ") 50 10, auto;
}

*{
    cursor: url("../img/circle.svg ") 50 10, auto;
}

.heart{
    cursor: url("../img/heart.svg ") 50 10, auto;
} */
>>>>>>> 7bf0458 (add command npm start / http-server)
